[Interface]
Address = {{ wireguard_server_address }}
ListenPort = {{ wireguard_server_port }}
PrivateKey = {{ wireguard_server_private_key }}

[Peer]
PublicKey = {{ wireguard_ci_peer_public_key }}
AllowedIPs = {{ wireguard_ci_peer_address }}
